.bt-custom {
  margin-left: 7px;
  margin-right: 7px;
  i {
    color: #fff;
  }
}
.margin-custom {
  padding-right: 21px;
}

.collapse-custom {
  margin: 20px 10px;
}

.bg-custom {
  background-color: #fff;
}

.text-col {
  float: right;
  margin-right: 2rem;
}

table {
  thead {
    tr {
      th {
        font-weight: 500;
      }
    }
  }
  tbody {
    td {
      font-weight: 500;
    }
  }
}
