::ng-deep .content {
  height: 100%;
}
.auth-content {
  height: 100%;
  background-color: rgba(245, 245, 245, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-modal {
  border-radius: 10px;
  background-color: #fff;
  width: 400px;
  padding: 35px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-modal img {
  border-radius: 7px;
}

.auth-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #035096;
}

.auth-title-initial {
  font-size: 1.2rem;
  font-weight: 500;
  color: #035096;
}

#icon-input {
  color: #035096;
}

.auth-modal input {
  cursor: text;
}

.auth-modal i {
  color: #495057;
  /* color: #2196f3; */
  /* color: #424242; */
}

.auth-modal button {
  align-self: center;
  padding: 5px 15px;
}

.auth-modal hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(120, 120, 120, 0),
    rgba(120, 120, 120, 0.75),
    rgba(120, 120, 120, 0)
  );
}

#logo {
  font-size: 6em;
  color: #035096;
  box-shadow: rgba(120, 120, 120, 0);
}
