<div class="content">
  <div class="auth-content">
    <div class="auth-modal">
      <i id="logo" class="fa-solid fa-arrows-retweet"></i>
      <hr />
      <div class="auth-title-initial">
        {{ 'RevSys' }}
      </div>
      <div class="auth-title">
        {{ 'Sistema de Gestão de Revisões' }}
      </div>
      <form [formGroup]="service.form">
        <div class="row">
          <div class="col-12">
            <div>
              <div class="input-group mb-3">
                <label class="input-group-text" id="color-value" for="name"
                  ><i id="icon-input" class="fa-light fa-user"></i
                ></label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  class="form-control form-control-solid"
                  formControlName="name"
                />
              </div>
              <div class="input-group mb-3">
                <label class="input-group-text" id="color-value" for="password"
                  ><i id="icon-input" class="fa-light fa-key"></i
                ></label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control form-control-solid"
                  formControlName="password"
                  (keyup.enter)="service.login()"
                />
              </div>
            </div>
          </div>
        </div>
      </form>

      <button
        class="btn btn-success"
        [disabled]="service.form.invalid"
        (click)="service.login()"
      >
        Login
      </button>
    </div>
  </div>
</div>
