<div class="vehicle">
  <app-page-title
    icon="fa-light fa-bus"
    color="#d54d50"
    main="Veículos"
    [sub]="this.title"
    [hr]="true"
  ></app-page-title>
  <div class="container-fluid">
    <div class="card card-custom">
      <div class="card-body">
        <form [formGroup]="service.form">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="vhcCode">Código</label>
                <input
                  type="text"
                  name="vhcCode"
                  id="vhcCode"
                  class="form-control form-control-solid"
                  placeholder="Informe a código"
                  formControlName="vhcCode"
                  [class.is-invalid]="isControlInvalid('vhcCode')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'vhcCode')"
                >
                  Código é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="vhcLicensePlate">Placa</label>
                <input
                  type="text"
                  name="vhcLicensePlate"
                  id="vhcLicensePlate"
                  class="form-control form-control-solid"
                  placeholder="Informe a placa"
                  formControlName="vhcLicensePlate"
                  [class.is-invalid]="isControlInvalid('vhcLicensePlate')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'vhcLicensePlate')"
                >
                  Placa é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="vhcManufacture">Fabricante</label>
                <input
                  type="text"
                  name="vhcManufacture"
                  id="vhcManufacture"
                  class="form-control form-control-solid"
                  placeholder="Informe o fabricante"
                  formControlName="vhcManufacture"
                  [class.is-invalid]="isControlInvalid('vhcManufacture')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'vhcManufacture')"
                >
                  Fabricante é obrigatório
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <div class="form-group">
                <label for="vhcModel">Modelo</label>
                <input
                  type="text"
                  name="vhcModel"
                  id="vhcModel"
                  class="form-control form-control-solid"
                  placeholder="Informe a modelo"
                  formControlName="vhcModel"
                  [class.is-invalid]="isControlInvalid('vhcModel')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'vhcModel')"
                >
                  Modelo é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="vhcType">Tipo</label>
                <input
                  type="text"
                  name="vhcType"
                  id="vhcType"
                  class="form-control form-control-solid"
                  placeholder="Informe o tipo"
                  formControlName="vhcType"
                  [class.is-invalid]="isControlInvalid('vhcType')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'vhcType')"
                >
                  Tipo é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="vhcLicenseState">UF licenciamento</label>
                <input
                  type="text"
                  name="vhcLicenseState"
                  id="vhcLicenseState"
                  class="form-control form-control-solid"
                  placeholder="Informe o UF licenciamento"
                  formControlName="vhcLicenseState"
                  [class.is-invalid]="isControlInvalid('vhcLicenseState')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'vhcLicenseState')"
                >
                  UF licenciamento é obrigatório
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <div class="form-group">
                <label for="vhcAcquisitionDate">Data Aquisição</label>
                <input
                  type="date"
                  name="vhcAcquisitionDate"
                  id="vhcAcquisitionDate"
                  class="form-control form-control-solid"
                  placeholder="Informe a modelo"
                  formControlName="vhcAcquisitionDate"
                  [class.is-invalid]="isControlInvalid('vhcAcquisitionDate')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'vhcAcquisitionDate')"
                >
                  Data Aquisição é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="vhcDischargeDate">Data Baixa</label>
                <input
                  type="date"
                  name="vhcDischargeDate"
                  id="vhcDischargeDate"
                  class="form-control form-control-solid"
                  placeholder="Informe o Data Baixa"
                  formControlName="vhcDischargeDate"
                  [class.is-invalid]="isControlInvalid('vhcDischargeDate')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'vhcDischargeDate')"
                >
                  Data Baixa é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="vhcChassis">Chassis</label>
                <input
                  type="text"
                  name="vhcChassis"
                  id="vhcChassis"
                  class="form-control form-control-solid"
                  placeholder="Informe o chassis"
                  formControlName="vhcChassis"
                  [class.is-invalid]="isControlInvalid('vhcChassis')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'vhcChassis')"
                >
                  Chassis é obrigatório
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <div class="form-group">
                <label for="vhcRenavam">Renavam</label>
                <input
                  type="text"
                  name="vhcRenavam"
                  id="vhcRenavam"
                  class="form-control form-control-solid"
                  placeholder="Informe o renavam"
                  formControlName="vhcRenavam"
                  [class.is-invalid]="isControlInvalid('vhcRenavam')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'vhcRenavam')"
                >
                  Renavam é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="vhcIdDriver">Motorista</label>
                <ng-select
                  [items]="employeeList"
                  #select
                  [selectOnTab]="true"
                  dropdownPosition="auto"
                  bindValue="empId"
                  bindLabel="empName"
                  name="vhcIdDriver"
                  id="vhcIdDriver"
                  formControlName="vhcIdDriver"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-4">
              <div
                class="form-group form-control-lg mt-4 d-flex justify-content-center"
              >
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexSwitchCheckDefault"
                    formControlName="vhcStatus"
                  />
                  <label class="form-check-label" for="flexSwitchCheckDefault"
                    >Ativo</label
                  >
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="mt-4">
          <button
            class="btn btn-success cmr-1"
            (click)="submit()"
            [disabled]="service.form.invalid"
            tooltip="Salvar dados"
          >
            <i class="fa-light fa-hdd"></i>
            Salvar
          </button>
          <button class="btn btn-primary ml-2" routerLink="/register/vehicle">
            <i class="fa-light fa-ban"></i>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
