<div class="partner">
  <app-page-title
    icon="fa-light fa-handshake"
    color="#d54d50"
    main="Parceiros"
    [sub]="this.title"
    [hr]="true"
  ></app-page-title>
  <div class="container-fluid">
    <div class="card card-custom">
      <div class="card-body">
        <form [formGroup]="service.form">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="Name">Nome</label>
                <input
                  type="text"
                  name="prtName"
                  id="prtName"
                  class="form-control form-control-solid"
                  placeholder="Informe a Name"
                  formControlName="prtName"
                  [class.is-invalid]="isControlInvalid('prtName')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prtName')"
                >
                  Nome é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="prtRegister">Registro</label>
                <input
                  type="text"
                  name="prtRegister"
                  id="prtRegister"
                  class="form-control form-control-solid"
                  placeholder="Informe a Registro"
                  formControlName="prtRegister"
                  [class.is-invalid]="isControlInvalid('prtRegister')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prtRegister')"
                >
                  Registro é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="prtDocument">Documento</label>
                <input
                  type="text"
                  name="prtDocument"
                  id="prtDocument"
                  class="form-control form-control-solid"
                  placeholder="Informe a Registro"
                  formControlName="prtDocument"
                  [class.is-invalid]="isControlInvalid('prtDocument')"
                  mask="000.000.000-00"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prtDocument')"
                >
                  Documento é obrigatório
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <div class="form-group">
                <label for="prtAddress">Endereço</label>
                <input
                  type="text"
                  name="prtAddress"
                  id="prtAddress"
                  class="form-control form-control-solid"
                  placeholder="Informe o logradouro"
                  formControlName="prtAddress"
                  [class.is-invalid]="isControlInvalid('prtAddress')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prtAddress')"
                >
                  Endereço é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="prtNeighborhood">Bairro</label>
                <input
                  type="text"
                  name="prtNeighborhood"
                  id="prtNeighborhood"
                  class="form-control form-control-solid"
                  placeholder="Informe o bairro"
                  formControlName="prtNeighborhood"
                  [class.is-invalid]="isControlInvalid('prtNeighborhood')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prtNeighborhood')"
                >
                  Bairro é obrigatório
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label for="prtCity">Cidade</label>
                <input
                  type="text"
                  name="prtCity"
                  id="prtCity"
                  class="form-control form-control-solid"
                  placeholder="Informe o cidade"
                  formControlName="prtCity"
                  [class.is-invalid]="isControlInvalid('prtCity')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prtCity')"
                >
                  Cidade é obrigatório
                </div>
              </div>
            </div>
            <div class="col-1">
              <div class="form-group">
                <label for="prtState">Estado</label>
                <input
                  type="text"
                  name="prtState"
                  id="prtState"
                  class="form-control form-control-solid"
                  placeholder="Informe o estado"
                  formControlName="prtState"
                  [class.is-invalid]="isControlInvalid('prtState')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prtState')"
                >
                  Estado é obrigatório
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <div class="form-group">
                <label for="prtContact">Contato</label>
                <input
                  type="text"
                  name="prtContact"
                  id="prtContact"
                  class="form-control form-control-solid"
                  placeholder="Informe o contato"
                  formControlName="prtContact"
                  [class.is-invalid]="isControlInvalid('prtContact')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prtContact')"
                >
                  Contato é obrigatório
                </div>
              </div>
            </div>
            <div class="col-2">
              <div
                class="form-group form-control-lg mt-4 d-flex justify-content-center"
              >
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexSwitchCheckDefault"
                    formControlName="prtStatus"
                  />
                  <label class="form-check-label" for="flexSwitchCheckDefault"
                    >Ativo</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="container-fluid">
              <div class="card card-custom">
                <h6 class="card-header">Telefone</h6>
                <div class="card-body">
                  <div class="row" formGroupName="prtPhone">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="phnType">Tipo</label>
                        <ng-select
                          [items]="types"
                          #select
                          [selectOnTab]="true"
                          dropdownPosition="auto"
                          bindValue="value"
                          bindLabel="label"
                          name="phnType"
                          id="phnType"
                          formControlName="phnType"
                        >
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="phnNumber">Número</label>
                        <input
                          type="text"
                          name="phnNumber"
                          id="phnNumber"
                          class="form-control form-control-solid"
                          placeholder="Informe o número"
                          formControlName="phnNumber"
                          mask="(00) 0000-0000||(00) 00000-0000"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="container-fluid">
              <div class="card card-custom">
                <h6 class="card-header">Email</h6>
                <div class="card-body">
                  <div class="row" formGroupName="prtEmail">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="emlType">Tipo</label>
                        <ng-select
                          [items]="types"
                          #select
                          [selectOnTab]="true"
                          dropdownPosition="auto"
                          bindValue="value"
                          bindLabel="label"
                          name="emlType"
                          id="emlType"
                          formControlName="emlType"
                        >
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="emlAddress">Endereço</label>
                        <input
                          type="email"
                          name="emlAddress"
                          id="emlAddress"
                          class="form-control form-control-solid"
                          placeholder="Informe o endereço"
                          formControlName="emlAddress"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="mt-4">
          <button
            class="btn btn-success cmr-1"
            (click)="submit()"
            [disabled]="service.form.invalid"
            tooltip="Salvar dados"
          >
            <i class="fa-light fa-hdd"></i>
            Salvar
          </button>
          <button class="btn btn-primary ml-2" routerLink="/register/partner">
            <i class="fa-light fa-ban"></i>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
