<div class="stock">
  <app-page-title
    icon="fa-light fa-box"
    color="#d54d50"
    main="Estoque"
    [sub]="this.title"
    [hr]="true"
  ></app-page-title>
  <div class="container-fluid">
    <div class="card card-custom">
      <div class="card-body">
        <form [formGroup]="service.form">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="stkPartServiceId">Informe Item</label>
                <ng-select
                  [items]="partServiceList"
                  #select
                  [selectOnTab]="true"
                  dropdownPosition="auto"
                  bindValue="ptsId"
                  bindLabel="ptsName"
                  name="stkPartServiceId"
                  id="stkPartServiceId"
                  formControlName="stkPartServiceId"
                  (change)="loadDataPart()"
                >
                </ng-select>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'ptsCode')"
                >
                  Item é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="ptsBrand">Marcar</label>
                <input
                  type="text"
                  name="ptsBrand"
                  id="ptsBrand"
                  readonly
                  class="form-control form-control-solid"
                  formControlName="ptsBrand"
                  [class.is-invalid]="isControlInvalid('ptsBrand')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'ptsBrand')"
                >
                  Marca é obrigatória
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="ptsCode">Código</label>
                <input
                  type="text"
                  name="ptsCode"
                  readonly
                  id="ptsCode"
                  class="form-control form-control-solid"
                  formControlName="ptsCode"
                  [class.is-invalid]="isControlInvalid('ptsCode')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'ptsCode')"
                >
                  Código é obrigatório
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <div class="form-group">
                <label for="stkQuantity">Quantidade</label>
                <input
                  type="text"
                  name="stkQuantity"
                  id="stkQuantity"
                  class="form-control form-control-solid"
                  formControlName="stkQuantity"
                  [class.is-invalid]="isControlInvalid('stkQuantity')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'stkQuantity')"
                >
                  Quantidade é obrigatória
                </div>
              </div>
            </div>
            <div class="col-4">
              <label for="stkAmount">Valor Total</label>
              <div class="input-group mb-3">
                <label for="stkAmount" class="input-group-text"> R$ </label>
                <input
                  type="text"
                  name="stkAmount"
                  id="stkAmount"
                  class="form-control form-control-solid"
                  formControlName="stkAmount"
                  currencyMask
                  [options]="{
                    prefix: '',
                    thousands: '.',
                    decimal: ',',
                    align: 'left'
                  }"
                />
              </div>
            </div>
          </div>
        </form>
        <div class="mt-4">
          <button
            class="btn btn-success cmr-1"
            (click)="submit()"
            [disabled]="service.form.invalid"
            tooltip="Salvar dados"
          >
            <i class="fa-light fa-hdd"></i>
            Salvar
          </button>
          <button class="btn btn-primary ml-2" routerLink="/register/stock">
            <i class="fa-light fa-ban"></i>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
