.footer {
  background-color: #d3d3d3;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    radial-gradient(
      at 70% 0%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 70%
    );
  background-blend-mode: soft-light, screen;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  border-radius: 0px 3px 0px 0px;
  height: 100%;
}
span {
  font-weight: 500;
  font-size: 0.8em;
}

.footer-hide {
  background-color: rgba(245, 245, 245, 0.7);
  background-blend-mode: soft-light, screen;
  padding-right: 10px;
  border-radius: 0px 3px 0px 0px;
  height: 100%;
}
