<footer class="footer" id="footer" *ngIf="menu">
  <span><i class="fa-solid fa-code"></i><strong> Tiago Lage</strong></span>
</footer>

<footer class="footer-hide" id="footer-hide" *ngIf="!menu"></footer>
