<div class="part-service">
  <app-page-title
    icon="fa-light fa-wrench"
    color="#d54d50"
    main="Peças / Serviços"
    [sub]="this.title"
    [hr]="true"
  ></app-page-title>
  <div class="container-fluid">
    <div class="card card-custom">
      <div class="card-body">
        <form [formGroup]="service.form">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="ptsCode">Código</label>
                <input
                  type="text"
                  name="ptsCode"
                  id="ptsCode"
                  class="form-control form-control-solid"
                  placeholder="Informe a código"
                  formControlName="ptsCode"
                  [class.is-invalid]="isControlInvalid('ptsCode')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'ptsCode')"
                >
                  Código é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="ptsName">Name</label>
                <input
                  type="text"
                  name="ptsName"
                  id="ptsName"
                  class="form-control form-control-solid"
                  placeholder="Informe a nome"
                  formControlName="ptsName"
                  [class.is-invalid]="isControlInvalid('ptsName')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'ptsName')"
                >
                  Nome é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div
                class="form-group form-control-lg mt-4 d-flex justify-content-center"
              >
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexSwitchCheckDefault"
                    formControlName="ptsType"
                  />
                  <label class="form-check-label" for="flexSwitchCheckDefault"
                    >Peça</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <div class="form-group">
                <label for="ptsBrand">Marca</label>
                <input
                  type="text"
                  name="ptsBrand"
                  id="ptsBrand"
                  class="form-control form-control-solid"
                  placeholder="Informe a marca"
                  formControlName="ptsBrand"
                  [class.is-invalid]="isControlInvalid('ptsBrand')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'ptsBrand')"
                >
                  Marca é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="ptsUnity">Unidade</label>
                <input
                  type="text"
                  name="ptsUnity"
                  id="ptsUnity"
                  class="form-control form-control-solid"
                  placeholder="Informe a unidade"
                  formControlName="ptsUnity"
                  maxlength="2"
                  [class.is-invalid]="isControlInvalid('ptsUnity')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'ptsUnity')"
                >
                  Unidade é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div
                class="form-group form-control-lg mt-4 d-flex justify-content-center"
              >
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexSwitchCheckChecked"
                    formControlName="ptsNew"
                  />
                  <label class="form-check-label" for="flexSwitchCheckDefault"
                    >Peça e Nova</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <div class="form-group">
                <label for="ptsProviderId">Fornecedor</label>
                <ng-select
                  [items]="providerList"
                  #select
                  [selectOnTab]="true"
                  dropdownPosition="auto"
                  bindValue="prdId"
                  bindLabel="prdName"
                  name="ptsProviderId"
                  id="ptsProviderId"
                  formControlName="ptsProviderId"
                >
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <label for="ptsDescription">Descrição</label>
              <div class="form-floating">
                <textarea
                  class="form-control"
                  style="height: 100px"
                  formControlName="ptsDescription"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12">
              <label for="ptsObservation">Observação</label>
              <div class="form-floating">
                <textarea
                  class="form-control"
                  style="height: 100px"
                  formControlName="ptsObservation"
                ></textarea>
              </div>
            </div>
          </div>
        </form>
        <div class="mt-4">
          <button
            class="btn btn-success cmr-1"
            (click)="submit()"
            [disabled]="service.form.invalid"
            tooltip="Salvar dados"
          >
            <i class="fa-light fa-hdd"></i>
            Salvar
          </button>
          <button
            class="btn btn-primary ml-2"
            routerLink="/register/part-service"
          >
            <i class="fa-light fa-ban"></i>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
