<input
  type="checkbox"
  id="toggle-button-checkbox"
  [checked]="check"
  (click)="onChange($event)"
/>
<label class="toggle-button-switch" for="toggle-button-checkbox"></label>
<div class="toggle-button-text">
  <div class="toggle-button-text-on">ON</div>
  <div class="toggle-button-text-off">OFF</div>
</div>
