:host {
  display: block;
  position: relative;
  width: 76px;
  height: 50px;
}

input[type='checkbox'] {
  display: none;
}

/* 토글 버튼 내부의 원. 감춘 체크박스와 연동한다. */
.toggle-button-switch {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
  z-index: 100;
  transition: left 0.3s;
}

/* 토글 버튼의 바탕 */
.toggle-button-text {
  font-size: 0.6rem;
  overflow: hidden;
  background-color: #fc3164;
  border-radius: 25px;
  box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
  transition: background-color 0.3s;
}

/* 토글 버튼의 텍스트 */
.toggle-button-text-on,
.toggle-button-text-off {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 30px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

/* 체크박스가 체크 상태이면 토글 버튼 내부의 원을 오른쪽으로 52px 이동 */
input[type='checkbox']:checked ~ .toggle-button-switch {
  left: 47px;
}

/* 체크박스가 체크 상태이면 토글 버튼의 배경색 변경 */
input[type='checkbox']:checked ~ .toggle-button-text {
  background-color: #3dbf87;
}
