<div class="user">
  <app-page-title
    icon="fa-light fa-users"
    color="#d54d50"
    main="Usuários"
    sub="Listagem de Usuários"
    [hr]="true"
  ></app-page-title>
  <div class="container-fluid">
    <div class="card card-custom mb-4">
      <div class="card-header">
        <div class="card-toolbar d-flex justify-content-end mt-3 margin-custom">
          <button
            type="button"
            class="btn btn-secondary bt-custom"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseBasic"
            tooltip="Pesquisar"
          >
            <i class="fa-light fa-search"></i>
          </button>
          <button
            type="button"
            class="btn btn-primary bt-custom"
            routerLink="edit/0"
            tooltip="Incluir"
          >
            <i class="fa-light fa-plus"></i>
          </button>
        </div>
        <div class="collapse-custom">
          <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
            <div class="well well-lg card card-block card-header bg-custom">
              <form [formGroup]="service.formSearch">
                <div class="form-group row">
                  <div class="col-12">
                    <label>Pesquisa por Nome</label>
                    <input
                      type="text"
                      class="form-control form-control-solid mt-2 mb-2"
                      placeholder="Pesquisa por nome ..."
                      formControlName="keyword"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="card card-custom">
          <div class="card-body">
            <table
              class="table table-striped table-sm row-border hover"
              *ngIf="messageEmptySearch()"
            >
              <thead>
                <tr>
                  <th scope="col" class="name">Nome</th>
                  <th scope="col" class="name">Usuário</th>
                  <th scope="col" class="name">Registro</th>
                  <th scope="col" class="name">Email</th>
                  <th scope="col" class="name">Ativo</th>
                  <th scope="col" class="action-col">
                    <div class="text-col">Ações</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vl of data?.data">
                  <td>{{ vl.empName }}</td>
                  <td>{{ vl.usrUser }}</td>
                  <td>{{ vl.empRegister }}</td>
                  <td>{{ vl.emlAddress }}</td>
                  <td
                    [ngStyle]="{
                      color: !!vl.usrStatus
                        ? 'hsl(141, 53%, 53%)'
                        : 'hsl(348, 100%, 61%)',
                      'text-align': 'center'
                    }"
                  >
                    {{ vl.usrStatus | bool }}
                  </td>
                  <td>
                    <div class="d-flex justify-content-end">
                      <button
                        type="button"
                        class="btn btn-warning bt-custom"
                        [routerLink]="['edit', vl.usrId]"
                        tooltip="Editar"
                      >
                        <i class="fa-light fa-pencil"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger bt-custom"
                        tooltip="Deletar"
                        [swal]="deleteSwal"
                        (confirm)="delete(vl.usrId)"
                      >
                        <i class="fa-light fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <app-search-message
              *ngIf="!messageEmptySearch()"
            ></app-search-message>
            <div class="d-flex justify-content-center">
              <pagination
                [boundaryLinks]="showBoundaryLinks"
                [directionLinks]="showDirectionLinks"
                [totalItems]="count"
                [itemsPerPage]="limit"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;"
                [maxSize]="25"
                (pageChanged)="pageChanged($event)"
              >
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<swal
  #deleteSwal
  title="Deletar"
  text="Deseja desativar o usuário ?"
  icon="warning"
  [showCancelButton]="true"
  [focusCancel]="true"
  confirmButtonColor="#BB2D3B"
  cancelButtonColor="#085ED7"
  [reverseButtons]="true"
  cancelButtonText="Cancelar"
  confirmButtonText="Confirmar"
>
</swal>
