<header class="header" id="header" *ngIf="visible">
  <a class="toggle" id="toggle" (click)="toggleMenu()" *ngIf="menuIcon">
    <i class="fa-light fa-bars"></i>
  </a>
  <h1 class="title">
    <div>{{ title }}</div>
  </h1>
  <app-user-dropdown class="user-dropdown"></app-user-dropdown>
</header>
<header *ngIf="!visible" class="bg-white"></header>
