.header {
  grid-area: header;
  /* background: linear-gradient(to right, #1e469a, #49a7c1); */
  background-image: linear-gradient(to top, #282faa 0%, #182848 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 1rem;
  color: #fff;
  flex-grow: 1;
  text-align: center;
}

.title a {
  color: #fff;
  text-decoration: none;
}

.title a:hover {
  color: #fff;
  text-decoration: none;
}

header.header > a.toggle {
  width: 60px;
  height: 100%;
  color: #fff;
  justify-self: flex-start;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

header.header > a.toggle:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px 7px 7px 0px;
}

.bg-white {
  height: 100%;
  background-color: #f8f8f8 !important;
}

.user-dropdown {
  height: 100%;
}
