.user-dropdown {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}
.user-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  font-weight: 500;
  height: 100%;
  padding: 10px;
  font-size: 1rem;
}

.user-dropdown:hover {
  min-width: 200px;
  border-radius: 3px 0px 0px 3px;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.user-dropdown-img {
  margin: 0px 10px;
}

.user-dropdown-img > i {
  font-size: 1.1rem;
  border-radius: 7px;
}

.user-dropdown-content {
  position: absolute;
  margin-top: 60px;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease-out;
  /* transition: visibility 0s, opacity 0.7s linear; */
  border-radius: 0px 0px 3px 3px;
  cursor: pointer;
}

.user-dropdown:hover .user-dropdown-content {
  visibility: visible;
  opacity: 1;
}

.user-dropdown-content a {
  margin-top: 2px;
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-size: 1.15rem;
}

.user-dropdown-content a:hover {
  width: 100%;
  height: 100%;
  padding-left: 7px;
  text-decoration: none;
  color: #000;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s ease-out;
}
.user-dropdown-content a i {
  padding: 5px;
}

#toggle {
  font-size: 0.8rem;
}

#text {
  margin-left: 7px;
}

#admin {
  color: #00695c;
}

#key {
  color: #6b1b9a;
}

#exit {
  color: #dd2c01;
}

#iconUser {
  color: #c3c3c3;
}
