<div class="user-dropdown">
  <div class="user-button">
    <span class="d-nome d-sm-block">{{ userName }}</span>
    <div class="user-dropdown-img">
      <i id="iconUser" class="fa-light fa fa-user"></i>
    </div>
    <i id="toggle" class="fa-light fa-angle-down"></i>
  </div>
  <div class="user-dropdown-content">
    <a (click)="auth.logout()"
      ><i id="exit" class="fa-light fa-sign-out"
        ><span id="text">Sair</span></i
      ></a
    >
  </div>
</div>
