<table class="table table-hover">
  <tbody>
    <tr>
      <td class="d-flex justify-content-center">
        <span class="message"
          >Não foram encontrados resultados para essa pesquisa!</span
        >
      </td>
    </tr>
  </tbody>
</table>
