<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-fade"
  [fullScreen]="true"
  ><p style="color: white">Carregando...</p></ngx-spinner
>
<div id="app" class="app" [ngClass]="{ 'hide-menu': !toggle || !menu }">
  <app-header
    class="header"
    [visible]="menu"
    [title]="'RevSys - Sistema de Revisões'"
    (toggle)="toggleMenu()"
  ></app-header>
  <app-menu
    class="menu"
    *ngIf="toggle == true && menu == true"
    [@menu]="state"
  ></app-menu>
  <app-content class="content"></app-content>
  <app-footer class="footer"></app-footer>
</div>
