#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr 40px;
  grid-template-areas:
    'header header'
    'menu content'
    'menu footer';
}

.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

#app.hide-menu {
  grid-template-areas:
    'header header'
    'content content'
    'footer footer';
}

.warning {
  background-color: #fec007 !important;
  font-weight: 700;
}

.grid__none {
  display: block !important;
}
