<div class="registration">
  <app-page-title
    icon="fa-light fa-archive"
    color="#d54d50"
    main="Cadastros"
    sub="Cadastros do Sistema"
    [hr]="true"
  ></app-page-title>
  <div class="registration-menu">
    <div class="card card-custom">
      <div class="register-icons mt-4">
        <div class="employee">
          <a routerLink="/register/employee">
            <i id="regist" class="fa-light fa-address-card"
              ><span>Colaboradores</span></i
            >
          </a>
        </div>
        <div class="user">
          <a routerLink="/register/user">
            <i id="regist" class="fa-light fa-users"><span>Usuários</span></i>
          </a>
        </div>
        <div class="vehicle">
          <a routerLink="/register/vehicle">
            <i id="regist" class="fa-light fa-bus"><span>Veículos</span></i>
          </a>
        </div>
        <div class="partner">
          <a routerLink="/register/partner">
            <i id="regist" class="fa-light fa-handshake"
              ><span>Parceiros</span></i
            >
          </a>
        </div>
        <div class="provider">
          <a routerLink="/register/provider">
            <i id="regist" class="fa-light fa-cart-shopping"
              ><span>Fornecedores</span></i
            >
          </a>
        </div>
        <div class="part-service">
          <a routerLink="/register/part-service">
            <i id="regist" class="fa-light fa-wrench"
              ><span>Peças / Serviços</span></i
            >
          </a>
        </div>
        <div class="stock">
          <a routerLink="/register/stock">
            <i id="regist" class="fa-light fa-box"><span>Estoque</span></i>
          </a>
        </div>
        <div class="revision">
          <a routerLink="/register/revision">
            <i id="regist" class="fa-light fa-gears"><span>Revisões</span></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
