.card-custom {
  margin: 10px 10px;
}
.register-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  margin-left: 4px;
}

.register-icons a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 20vw;
  height: 15vh;
  border-radius: 4px;
  margin-right: 3px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: #007bff;
  overflow: hidden;
}

.register-icons a:hover {
  transition: all 0.1s ease-out;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  /* border: 0.5px solid #007bff; */
  border-bottom: 5px solid #007bff;
  border-top: 5px solid #007bff;
}

.register-icons a i {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #d54d50;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.register-icons a i span {
  padding-top: 1vh;
  font-weight: 500;
  color: #3b3a3a;
  font-size: 1rem;
}

.i-bnt {
  margin-right: 5px;
}

@media (max-width: 1400px) {
  .register-icons a i span {
    font-size: 0.9rem;
  }
}
@media (max-width: 1250px) {
  .register-icons a i span {
    font-size: 0.8rem;
  }
}
@media (max-width: 1110px) {
  .register-icons a i span {
    font-size: 0.7rem;
  }
}
@media (max-width: 985px) {
  .register-icons a i span {
    font-size: 0.6rem;
  }
}
