<div class="employee">
  <app-page-title
    icon="fa-light fa-address-card"
    color="#d54d50"
    main="Colaborador"
    [sub]="this.title"
    [hr]="true"
  ></app-page-title>
  <div class="container-fluid">
    <div class="card card-custom">
      <div class="card-body">
        <form [formGroup]="service.form">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="Name">Nome</label>
                <input
                  type="text"
                  name="empName"
                  id="empName"
                  class="form-control form-control-solid"
                  placeholder="Informe a Name"
                  formControlName="empName"
                  [class.is-invalid]="isControlInvalid('empName')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'empName')"
                >
                  Nome é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="empRegister">Registro</label>
                <input
                  type="text"
                  name="empRegister"
                  id="empRegister"
                  class="form-control form-control-solid"
                  placeholder="Informe a Registro"
                  formControlName="empRegister"
                  [class.is-invalid]="isControlInvalid('empRegister')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'empRegister')"
                >
                  Registro é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="empDocument">Documento</label>
                <input
                  type="text"
                  name="empDocument"
                  id="empDocument"
                  class="form-control form-control-solid"
                  placeholder="Informe a Registro"
                  formControlName="empDocument"
                  [class.is-invalid]="isControlInvalid('empDocument')"
                  mask="000.000.000-00"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'empDocument')"
                >
                  Documento é obrigatório
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <div class="form-group">
                <label for="empAddress">Endereço</label>
                <input
                  type="text"
                  name="empAddress"
                  id="empAddress"
                  class="form-control form-control-solid"
                  placeholder="Informe o logradouro"
                  formControlName="empAddress"
                  [class.is-invalid]="isControlInvalid('empAddress')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'empAddress')"
                >
                  Endereço é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="empNeighborhood">Bairro</label>
                <input
                  type="text"
                  name="empNeighborhood"
                  id="empNeighborhood"
                  class="form-control form-control-solid"
                  placeholder="Informe o bairro"
                  formControlName="empNeighborhood"
                  [class.is-invalid]="isControlInvalid('empNeighborhood')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'empNeighborhood')"
                >
                  Bairro é obrigatório
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label for="empCity">Cidade</label>
                <input
                  type="text"
                  name="empCity"
                  id="empCity"
                  class="form-control form-control-solid"
                  placeholder="Informe o Logradouro"
                  formControlName="empCity"
                  [class.is-invalid]="isControlInvalid('empCity')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'empCity')"
                >
                  Cidade é obrigatório
                </div>
              </div>
            </div>
            <div class="col-1">
              <div class="form-group">
                <label for="empState">Estado</label>
                <input
                  type="text"
                  name="empState"
                  id="empState"
                  class="form-control form-control-solid"
                  placeholder="Informe o Logradouro"
                  formControlName="empState"
                  [class.is-invalid]="isControlInvalid('empState')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'empState')"
                >
                  Estado é obrigatório
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <div class="form-group">
                <label for="empDepartment">Departamento</label>
                <input
                  type="text"
                  name="empDepartment"
                  id="empDepartment"
                  class="form-control form-control-solid"
                  placeholder="Informe o Logradouro"
                  formControlName="empDepartment"
                  [class.is-invalid]="isControlInvalid('empDepartment')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'empDepartment')"
                >
                  Departamento é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="empFunction">Função</label>
                <input
                  type="text"
                  name="empFunction"
                  id="empFunction"
                  class="form-control form-control-solid"
                  placeholder="Informe o Logradouro"
                  formControlName="empFunction"
                  [class.is-invalid]="isControlInvalid('empFunction')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'empFunction')"
                >
                  Função é obrigatório
                </div>
              </div>
            </div>
            <div class="col-2">
              <div
                class="form-group form-control-lg mt-4 d-flex justify-content-center"
              >
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexSwitchCheckDefault"
                    formControlName="empStatus"
                  />
                  <label class="form-check-label" for="flexSwitchCheckDefault"
                    >Ativo</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="container-fluid">
              <div class="card card-custom">
                <h6 class="card-header">Telefone</h6>
                <div class="card-body">
                  <div class="row" formGroupName="empPhone">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="phnType">Tipo</label>
                        <ng-select
                          [items]="types"
                          #select
                          [selectOnTab]="true"
                          dropdownPosition="auto"
                          bindValue="value"
                          bindLabel="label"
                          name="phnType"
                          id="phnType"
                          formControlName="phnType"
                        >
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="phnNumber">Número</label>
                        <input
                          type="text"
                          name="phnNumber"
                          id="phnNumber"
                          class="form-control form-control-solid"
                          placeholder="Informe o número"
                          formControlName="phnNumber"
                          mask="(00) 0000-0000||(00) 00000-0000"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="container-fluid">
              <div class="card card-custom">
                <h6 class="card-header">Email</h6>
                <div class="card-body">
                  <div class="row" formGroupName="empEmail">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="emlType">Tipo</label>
                        <ng-select
                          [items]="types"
                          #select
                          [selectOnTab]="true"
                          dropdownPosition="auto"
                          bindValue="value"
                          bindLabel="label"
                          name="emlType"
                          id="emlType"
                          formControlName="emlType"
                        >
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="emlAddress">Endereço</label>
                        <input
                          type="email"
                          name="emlAddress"
                          id="emlAddress"
                          class="form-control form-control-solid"
                          placeholder="Informe o endereço"
                          formControlName="emlAddress"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="mt-4">
          <button
            class="btn btn-success cmr-1"
            (click)="submit()"
            [disabled]="service.form.invalid"
            tooltip="Salvar dados"
          >
            <i class="fa-light fa-hdd"></i>
            Salvar
          </button>
          <button class="btn btn-primary ml-2" routerLink="/register/employee">
            <i class="fa-light fa-ban"></i>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
