<div class="employee">
  <app-page-title
    icon="fa-light fa-address-card"
    color="#d54d50"
    main="Colaborador"
    [sub]="this.title"
    [hr]="true"
  ></app-page-title>
  <div class="container-fluid">
    <div class="card card-custom">
      <div class="card-body">
        <form [formGroup]="service.form">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="usrEmployeeId">Colaborador</label>
                <ng-select
                  [items]="employeeList"
                  #select
                  [selectOnTab]="true"
                  dropdownPosition="auto"
                  bindValue="empId"
                  bindLabel="empName"
                  name="usrEmployeeId"
                  id="usrEmployeeId"
                  formControlName="usrEmployeeId"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="usrUser">Usuário</label>
                <input
                  type="text"
                  name="usrUser"
                  id="usrUser"
                  class="form-control form-control-solid"
                  placeholder="Informe o usuário"
                  formControlName="usrUser"
                  [class.is-invalid]="isControlInvalid('usrUser')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'usrUser')"
                >
                  Nome do usuário é obrigatório
                </div>
              </div>
            </div>
            <div class="col-2">
              <div
                class="form-group form-control-lg mt-4 d-flex justify-content-center"
              >
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexSwitchCheckDefault"
                    formControlName="usrAdministrator"
                  />
                  <label class="form-check-label" for="flexSwitchCheckDefault"
                    >Administrador</label
                  >
                </div>
              </div>
            </div>
            <div class="col-2">
              <div
                class="form-group form-control-lg mt-4 d-flex justify-content-center"
              >
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexSwitchCheckDefault"
                    formControlName="usrStatus"
                  />
                  <label class="form-check-label" for="flexSwitchCheckDefault"
                    >Ativo</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <div class="form-group">
                <label for="usrPassword">Senha</label>
                <input
                  type="password"
                  name="usrPassword"
                  id="usrPassword"
                  class="form-control form-control-solid"
                  placeholder="Informe a senha"
                  formControlName="usrPassword"
                  [class.is-invalid]="isControlInvalid('usrPassword')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'usrPassword')"
                >
                  Senha é obrigatória
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="usrConfirmPassword">Senha</label>
                <input
                  type="password"
                  name="usrConfirmPassword"
                  id="usrConfirmPassword"
                  class="form-control form-control-solid"
                  placeholder="Confirme a senha"
                  formControlName="usrConfirmPassword"
                  [class.is-invalid]="isControlInvalid('usrConfirmPassword')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'usrConfirmPassword')"
                >
                  Confirmação é obrigatória
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="mt-4">
          <button
            class="btn btn-success cmr-1"
            (click)="submit()"
            [disabled]="service.form.invalid"
            tooltip="Salvar dados"
          >
            <i class="fa-light fa-hdd"></i>
            Salvar
          </button>
          <button class="btn btn-primary ml-2" routerLink="/register/user">
            <i class="fa-light fa-ban"></i>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
