/* You can add global styles to this file, and also import other style files */
@import '@fontsource/montserrat/500.css';

* {
  font-family: Montserrat;
}

body {
  margin: 0;
}

label {
  font-size: 0.9rem;
}

.cmr-1 {
  margin-right: 10px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.invalid-feedback {
  font-family: Montserrat;
  font-size: 0.8rem;
}

.table th,
.table td {
  font-size: 1rem;
}
/* css global para actions em todas b-tables */
th.center {
  padding-right: 3.5rem !important;
}

.center {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
}

.customTooltip {
  font-family: Montserrat !important;
  font-size: 0.7rem !important;
  font-weight: 500;
}
