.card-custom {
  margin: 10px 10px;
}

.link-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* color: #007bff; */
  cursor: pointer;
  margin-left: 4px;
}

.link-icons #cad {
  color: #d54d50;
}

.link-icons #out {
  color: #fe5722;
}

.link-icons #rel {
  color: #fec007;
}

.link-icons span {
  color: #777;
}

.link-icons a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 20vw;
  height: 15vh;
  border-radius: 4px;
  margin-right: 3px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: #007bff;
  overflow: hidden;
}

.link-icons a:hover {
  transition: all 0.1s ease-out;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  /* border: 0.5px solid #007bff; */
  border-bottom: 5px solid #007bff;
  border-top: 5px solid #007bff;
}

.link-icons a i {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #d54d50;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.link-icons a i span {
  padding-top: 1vh;
  color: #3b3a3a;
  font-size: 1rem;
}

.link-icons-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.link-icons-title {
  font-size: 1.5em;
}

.link-icons-value {
  font-size: 3em;
}

.fa-pencil:before {
  color: #fff;
}

#color-value {
  color: #138496;
}

@media (max-width: 1400px) {
  .link-icons a i span {
    font-size: 0.9rem;
  }
}
@media (max-width: 1250px) {
  .link-icons a i span {
    font-size: 0.8rem;
  }
}
@media (max-width: 1110px) {
  .link-icons a i span {
    font-size: 0.7rem;
  }
}
@media (max-width: 985px) {
  .link-icons a i span {
    font-size: 0.6rem;
  }
}
