<div class="dashboard">
  <app-page-title
    icon="fa-light fa-laptop-house"
    [color]="'#007bff'"
    [main]="'Dashboard'"
    [sub]="'Sistema de Revisões'"
    [hr]="true"
  ></app-page-title>
  <div class="card card-custom">
    <div class="link-icons mt-4">
      <div class="cad-regist">
        <a routerLink="/register">
          <i id="cad" class="fa-light fa-archive"><span>Cadastros</span></i>
        </a>
      </div>
      <div class="cad-report">
        <a routerLink="/report">
          <i id="rel" class="fa-light fa-print"><span>Relatórios</span></i>
        </a>
      </div>
      <div class="cad-exit">
        <a (click)="auth.logout()">
          <i id="out" class="fa-light fa fa-sign-out"><span>Sair</span></i>
        </a>
      </div>
    </div>
  </div>
</div>
