.page-title {
  margin: 10px 10px;
}
.page-title h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0 0 1rem;
}
.page-title h1 i::before {
  margin: 0 1rem 0 0;
}

.page-title h2 {
  color: #777;
  font-size: 1.3rem;
  margin: 1rem 0 1rem 1rem;
}
