<div class="page-title">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h1>
          <i
            *ngIf="icon"
            [ngClass]="icon"
            [ngStyle]="{ color: color || '#000' }"
          ></i
          >{{ main }}
        </h1>
        <h2>{{ sub }}</h2>
        <!-- <hr *ngIf="hr" /> -->
      </div>
    </div>
  </div>
</div>
