<div class="provider">
  <app-page-title
    icon="fa-light fa-cart-shopping"
    color="#d54d50"
    main="Fornecedores"
    [sub]="this.title"
    [hr]="true"
  ></app-page-title>
  <div class="container-fluid">
    <div class="card card-custom">
      <div class="card-body">
        <form [formGroup]="service.form">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="Name">Nome</label>
                <input
                  type="text"
                  name="prdName"
                  id="prdName"
                  class="form-control form-control-solid"
                  placeholder="Informe a Name"
                  formControlName="prdName"
                  [class.is-invalid]="isControlInvalid('prdName')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prdName')"
                >
                  Nome é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="prdRegister">Registro</label>
                <input
                  type="text"
                  name="prdRegister"
                  id="prdRegister"
                  class="form-control form-control-solid"
                  placeholder="Informe a Registro"
                  formControlName="prdRegister"
                  [class.is-invalid]="isControlInvalid('prdRegister')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prdRegister')"
                >
                  Registro é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="prdDocument">Documento</label>
                <input
                  type="text"
                  name="prdDocument"
                  id="prdDocument"
                  class="form-control form-control-solid"
                  placeholder="Informe a Registro"
                  formControlName="prdDocument"
                  [class.is-invalid]="isControlInvalid('prdDocument')"
                  mask="000.000.000-00"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prdDocument')"
                >
                  Documento é obrigatório
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <div class="form-group">
                <label for="prdAddress">Endereço</label>
                <input
                  type="text"
                  name="prdAddress"
                  id="prdAddress"
                  class="form-control form-control-solid"
                  placeholder="Informe o logradouro"
                  formControlName="prdAddress"
                  [class.is-invalid]="isControlInvalid('prdAddress')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prdAddress')"
                >
                  Endereço é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="prdNeighborhood">Bairro</label>
                <input
                  type="text"
                  name="prdNeighborhood"
                  id="prdNeighborhood"
                  class="form-control form-control-solid"
                  placeholder="Informe o bairro"
                  formControlName="prdNeighborhood"
                  [class.is-invalid]="isControlInvalid('prdNeighborhood')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prdNeighborhood')"
                >
                  Bairro é obrigatório
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label for="prdCity">Cidade</label>
                <input
                  type="text"
                  name="prdCity"
                  id="prdCity"
                  class="form-control form-control-solid"
                  placeholder="Informe o cidade"
                  formControlName="prdCity"
                  [class.is-invalid]="isControlInvalid('prdCity')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prdCity')"
                >
                  Cidade é obrigatório
                </div>
              </div>
            </div>
            <div class="col-1">
              <div class="form-group">
                <label for="prdState">Estado</label>
                <input
                  type="text"
                  name="prdState"
                  id="prdState"
                  class="form-control form-control-solid"
                  placeholder="Informe o estado"
                  formControlName="prdState"
                  [class.is-invalid]="isControlInvalid('prdState')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prdState')"
                >
                  Estado é obrigatório
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <div class="form-group">
                <label for="prdContact">Contato</label>
                <input
                  type="text"
                  name="prdContact"
                  id="prdContact"
                  class="form-control form-control-solid"
                  placeholder="Informe o contato"
                  formControlName="prdContact"
                  [class.is-invalid]="isControlInvalid('prdContact')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'prdContact')"
                >
                  Contato é obrigatório
                </div>
              </div>
            </div>
            <div class="col-2">
              <div
                class="form-group form-control-lg mt-4 d-flex justify-content-center"
              >
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexSwitchCheckDefault"
                    formControlName="prdStatus"
                  />
                  <label class="form-check-label" for="flexSwitchCheckDefault"
                    >Ativo</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="container-fluid">
              <div class="card card-custom">
                <h6 class="card-header">Telefone</h6>
                <div class="card-body">
                  <div class="row" formGroupName="prdPhone">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="phnType">Tipo</label>
                        <ng-select
                          [items]="types"
                          #select
                          [selectOnTab]="true"
                          dropdownPosition="auto"
                          bindValue="value"
                          bindLabel="label"
                          name="phnType"
                          id="phnType"
                          formControlName="phnType"
                        >
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="phnNumber">Número</label>
                        <input
                          type="text"
                          name="phnNumber"
                          id="phnNumber"
                          class="form-control form-control-solid"
                          placeholder="Informe o número"
                          formControlName="phnNumber"
                          mask="(00) 0000-0000||(00) 00000-0000"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="container-fluid">
              <div class="card card-custom">
                <h6 class="card-header">Email</h6>
                <div class="card-body">
                  <div class="row" formGroupName="prdEmail">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="emlType">Tipo</label>
                        <ng-select
                          [items]="types"
                          #select
                          [selectOnTab]="true"
                          dropdownPosition="auto"
                          bindValue="value"
                          bindLabel="label"
                          name="emlType"
                          id="emlType"
                          formControlName="emlType"
                        >
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="emlAddress">Endereço</label>
                        <input
                          type="email"
                          name="emlAddress"
                          id="emlAddress"
                          class="form-control form-control-solid"
                          placeholder="Informe o endereço"
                          formControlName="emlAddress"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="mt-4">
          <button
            class="btn btn-success cmr-1"
            (click)="submit()"
            [disabled]="service.form.invalid"
            tooltip="Salvar dados"
          >
            <i class="fa-light fa-hdd"></i>
            Salvar
          </button>
          <button class="btn btn-primary ml-2" routerLink="/register/partner">
            <i class="fa-light fa-ban"></i>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
