<div class="revision">
  <app-page-title
    icon="fa-light fa-gears"
    color="#d54d50"
    main="Revisões"
    [sub]="this.title"
    [hr]="true"
  ></app-page-title>
  <div class="container-fluid">
    <div class="card card-custom">
      <div class="card-body">
        <form [formGroup]="service.form">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="rvsOrder">Ordem</label>
                <input
                  type="text"
                  name="rvsOrder"
                  id="rvsOrder"
                  class="form-control form-control-solid"
                  placeholder="Informe a ordem"
                  formControlName="rvsOrder"
                  [class.is-invalid]="isControlInvalid('rvsOrder')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'rvsOrder')"
                >
                  Ordem é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="rvsVehicleId">Veiculo</label>
                <ng-select
                  [items]="vehicleList"
                  #select
                  [selectOnTab]="true"
                  dropdownPosition="auto"
                  bindValue="vhcId"
                  bindLabel="vhcLicensePlate"
                  name="rvsVehicleId"
                  id="rvsVehicleId"
                  formControlName="rvsVehicleId"
                >
                </ng-select>
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'rvsVehicleId')"
                >
                  Veiculo é obrigatório
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="rvsStartDate">Data Entrada</label>
                <input
                  type="date"
                  name="rvsStartDate"
                  id="rvsStartDate"
                  class="form-control form-control-solid"
                  formControlName="rvsStartDate"
                  [class.is-invalid]="isControlInvalid('rvsStartDate')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'rvsStartDate')"
                >
                  Data é obrigatória
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <div class="form-group">
                <label for="rvsFinalDate">Data da Saída</label>
                <input
                  type="date"
                  name="rvsFinalDate"
                  id="rvsFinalDate"
                  class="form-control form-control-solid"
                  formControlName="rvsFinalDate"
                  [class.is-invalid]="isControlInvalid('rvsFinalDate')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'rvsFinalDate')"
                >
                  Data da saída é obrigatória
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="rvsKm">KM</label>
                <input
                  type="text"
                  name="rvsKm"
                  id="rvsKm"
                  class="form-control form-control-solid"
                  formControlName="rvsKm"
                  [class.is-invalid]="isControlInvalid('rvsKm')"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="controlHasError('required', 'rvsKm')"
                >
                  KM é obrigatória
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="rvsEmployeeId">Condutor</label>
                <ng-select
                  [items]="employeeList"
                  #select
                  [selectOnTab]="true"
                  dropdownPosition="auto"
                  bindValue="empId"
                  bindLabel="empName"
                  name="rvsEmployeeId"
                  id="rvsEmployeeId"
                  formControlName="rvsEmployeeId"
                >
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <div class="form-group">
                <label for="rvsTechnicalId">Responsável Técnico</label>
                <ng-select
                  [items]="employeeList"
                  #select
                  [selectOnTab]="true"
                  dropdownPosition="auto"
                  bindValue="empId"
                  bindLabel="empName"
                  name="rvsTechnicalId"
                  id="rvsTechnicalId"
                  formControlName="rvsTechnicalId"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-4">
              <label for="rvsAmount">Valor Total</label>
              <div class="input-group mb-3">
                <label for="rvsAmount" class="input-group-text"> R$ </label>
                <input
                  type="text"
                  name="rvsAmount"
                  id="rvsAmount"
                  class="form-control form-control-solid"
                  formControlName="rvsAmount"
                  currencyMask
                  [options]="{
                    prefix: '',
                    thousands: '.',
                    decimal: ',',
                    align: 'left'
                  }"
                />
              </div>
            </div>
          </div>
          <div
            class="col-12"
            formArrayName="rvsPartServiceId"
            *ngFor="let partServ of rvsPartServiceId.controls; let i = index"
          >
            <div class="custom_mb">
              <label for="partServ">Peças / Serviços</label>
              <div class="d-flex">
                <div class="col-6">
                  <ng-select
                    [items]="partServiceList"
                    #select
                    [selectOnTab]="true"
                    dropdownPosition="auto"
                    bindValue="ptsId"
                    bindLabel="ptsName"
                    name="rvsPartServiceId"
                    id="rvsPartServiceId"
                    [formControlName]="i"
                  >
                  </ng-select>
                </div>
                <button
                  type="button"
                  class="btn btn-primary bt-custom"
                  tooltip="Adicionar"
                  (click)="this.service.addRvsPartServiceId()"
                >
                  <i class="fa-light fa-plus"></i>
                </button>
                <button
                  *ngIf="i > 0"
                  type="button"
                  class="btn btn-danger bt-custom"
                  tooltip="Deletar"
                  (click)="this.service.deleteRvsPartServiceId(i)"
                >
                  <i class="fa-light fa-trash"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <label for="rvsObservation">Descrição</label>
              <div class="form-floating">
                <textarea
                  class="form-control"
                  style="height: 100px"
                  formControlName="rvsObservation"
                ></textarea>
              </div>
            </div>
          </div>
        </form>
        <div class="mt-4">
          <button
            class="btn btn-success cmr-1"
            (click)="submit()"
            [disabled]="service.form.invalid"
            tooltip="Salvar dados"
          >
            <i class="fa-light fa-hdd"></i>
            Salvar
          </button>
          <button class="btn btn-primary ml-2" routerLink="/register/revision">
            <i class="fa-light fa-ban"></i>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
