<aside class="menu" id="menu">
  <nav class="menu-itens">
    <a routerLink="/">
      <i id="dashboard" class="fa-light fa-laptop-house"></i
      ><span>Dashboard</span>
    </a>
    <a routerLink="/register"
      ><i id="cad" class="fa-light fa-archive"></i><span>Cadastros</span></a
    >
    <a routerLink="/report">
      <i id="report" class="fa-light fa-print"></i><span>Relatórios</span>
    </a>
  </nav>
</aside>
