.menu {
  z-index: 1000;
  background: linear-gradient(-10deg, #d0d0d0 0%, #274046 100%);
  border-radius: 0px 3px 0px 0px;
  box-shadow: 5px 0px 1px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: calc(100% - 5px);
}

.menu-itens {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.menu-itens i {
  width: 50px;
  font-size: 1.2em;
}

.menu-itens span {
  padding-top: 10px;
}

.menu-itens a {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  text-decoration: none;
  border-radius: 0px 0px 7px 7px;
  font-size: 1.4rem;
  color: #d3d3d3;
  text-decoration: none;
}
.menu-itens a:hover {
  transition: all 0.1s ease-out;
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.menu-itens i {
  color: #232627;
}

.menu-itens #dashboard {
  color: #007bff;
}

.menu-itens #cad {
  color: #d54d50;
}

.menu-itens #notice {
  color: #6c6cb2;
}

.menu-itens #NE {
  color: #3bc480;
}

.menu-itens #report {
  color: #fec007;
}

.menu-itens a i::before {
  padding-right: 20px;
}

.menu-itens a:hover {
  color: #d3d3d3;
}

.menu-itens a:hover {
  text-decoration: none;
}
